* {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.a-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
    
}

.messages {
    text-align: center;
    border-radius: 5px;
    padding-top: 10px;
}

.myForm {
    padding: 25px;
    background-color: rgb(70, 74, 90);
    width: 400px;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#comments {
    height: 100px;
    vertical-align: top;
}

#divider {
    border-bottom: 1px solid black
}

.both-forms {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;

}

.wall-header {
    margin-top: 25px;
}

.wall-h1 {
    text-align: center;
}
@media only screen and (max-width: 800px){
    .md-1 {
        display: block;
    }

}
